body *,
.flexslider .caption-link,
.btn-white,
#effects .caption .project-desc
{
    font-family: 'Open Sans', sans-serif;
}
.boxes li a,
.top-bar-section ul li > a
{
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}
button,
.button
{
    background-color: #890404;
}
.navigation-space
{
    margin-top: 10px;
}
.top-bar {
  height: 33px;
}
.top-bar-section li a:not(.button)
{
    line-height: 33px;

    padding: 0 16px 0 16px;
}
@media all and (max-width: 810px)
{
    .top-bar-section li a:not(.button)
    {
        padding: 0 10px;
    }
}
.icon-arrow:after
{
    display: none;
}
:focus
{
    outline-color: #890404 !important;
}
#boxes-colorful-red :focus {
	outline-color: #fff !important;
}
.boxes.red
{
    padding-bottom: 46px;

    background: #890404;
}
p
{
    font-weight: 300;
}
.icon-search
{
    zoom: 1;

    opacity: .3;

    filter: alpha(opacity=30);
}
.top-bar-section > ul > .divider,
.top-bar-section > ul > [role='separator']
{
    margin-top: 4px;

    border-color: #ccc;
    border-right: 0;
}
#effects .counter
{
    padding: 13px 0;

    color: #fff;
    background: rgba(33, 33, 33, .8);
}
#effects .counter b
{
    font-family: 'Open Sans', sans-serif;
    font-size: 45px;
    font-weight: 400;

    display: inline-block;
}
#effects .counter h4
{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}
#effects .counter *
{
    color: #fff;
}
#effects .counter div
{
    vertical-align: middle;
}
#effects .counter p
{
    font-size: 14px;

    padding-right: 8px;
}
#effects .caption
{
    margin: 74px 0 101px;
    padding-top: 20px;
    padding-bottom: 68px;

    color: #000;
    background: #ececec;
}
#effects .caption h2
{
    font-family: 'Open Sans', sans-serif;

    margin-bottom: 15px;

    color: #000;
}
#effects .counter:after
{
    display: none;
}
#effects .counter:before
{
    position: absolute;
    top: -22px;
    left: 50%;

    display: block;

    width: 44px;
    height: 44px;

    content: '';

    background: url('/media/2528/square.png') no-repeat;
	
	opacity:0.8;
	 filter: alpha(opacity=80);
}
.boxes
{
    padding-top: 22px;
    padding-bottom: 26px;
}
.boxes h2
{
    font-family: 'Open Sans', sans-serif;
    font-size: 28px;
    font-weight: 400;
}
.boxes ul
{
    margin-top: 19px;
}
#footer .btn-pfe-footer,
#footer .btn-services-footer
{
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
}
#footer h2
{
    font-size: 30px;
    line-height: 1.2;

    color: #000;
}
#footer a
{
    font-weight: 300;
}
#footer > .row:first-child
{
    border-top: none;
}
#footer > .row:first-child .columns:last-child
{
    padding-right: 0;
}
#footer > .row
{
    padding: 44px 0 15px;
}
#footer .footer-contact
{
    padding-left: 57px;
}

#footer ul
{
    height: auto !important;
    margin-top: 10px;
    margin-bottom: 15px;
}
#footer ul li a
{
    line-height: 22px;
}
#footer .btn-services-footer span
{
    line-height: 1.3;

    padding-left: 5px;
}
#footer > .row:last-child
{
    padding: 10px 0;
}
#footer .copyright p
{
    line-height: 1.3;
}
#header
{
    padding-top: 27px;
}
#header .text-right
{
    margin-top: 12px;
}
#header .top-right-menu li
{
    line-height: 33px;

    float: right;

    height: 33px;
}
.top-bar-section ul li.active > a {
	  background: #464749;
}
#slider
{
    background: #ebebeb;
}
#slider #main-slider
{
    max-width: 950px;
    margin: 0 auto;
}
#slider h2
{
    top: 17px;
    left: 30px;
}
#slider .flexslider h3
{
    font-size: 16px;
    font-weight: 400;
}
#slider .flexslider .slider-caption
{
    margin: 0;
    padding: 16px 10px 15px 5px;

    background: #222;
}
@media all and (min-width: 960px)
{
    #slider .flexslider .slider-caption .large-12
    {
        width: 72.22222%;
    }
    #slider .flexslider .slider-caption .large-6
    {
        width: 27.77778%;
    }
}
#slider .flexslider .news-date
{
    display: none;
}
#slider .flex-direction-nav
{
    display: none;
}
#slider .flex-control-paging li a
{
    width: 11px;
    height: 11px;

    color: transparent;
}
#slider .flex-control-paging li a:before
{
    content: url('/media/2406/circle-add.png');
}
#slider .flex-control-paging li a.flex-active:before
{
    content: url('/media/2407/circle-add-active.png');
}
.logo-mrr
{
    padding-right: 0 !important;
    padding-left: .9375em !important;
}
.icon-contact
{
    background-position: left bottom;
}
#cookie-bar .cb-enable
{
    background: #890404;
}
#cookie-bar
{
    z-index: 9999 !important;
}
/*================HELPERS==============*/
.hidden
{
    display: none !important;
    visibility: hidden;
}
.visuallyhidden
{
    position: absolute;

    overflow: hidden;
    clip: rect(0 0 0 0);

    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;

    border: 0;
}
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus
{
    position: static;

    overflow: visible;
    clip: auto;

    width: auto;
    height: auto;
    margin: 0;
}
.invisible
{
    visibility: hidden;
}
.clearfix:before
{
    display: table;

    content: ' ';
}
.clearfix:after
{
    display: table;
    clear: both;

    content: ' ';
}
.clearfix
{
    *zoom: 1;
}
@media screen and (-ms-high-contrast: active)
{
    #effects img
    {
        position: absolute;
        top: 0;
        left: 0;

        display: block !important;

        width: 100%;
        height: auto;
    }
}
